table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-transform: capitalize;
}
td{
    width: 80px;
    height: 80px;
    text-align: center;
    cursor: pointer;
}
td:hover{
    background: #152fe782;;
}
.black{
    background: #e36e2acf;
}
.white{
    background: #fff5ea;
}
table th{
    border: 1px solid #a5a3a3;
    padding: 10pt;
    min-width: 60px;
    
}
tr{
    margin: 0;
}